<app-header></app-header>
<body>
    <section class="section pt-5 pb-5" id="pricing-plans">
        <div class="top"></div>
        <div class="container">
          <!-- ***** Section Title Start ***** -->
          <div class="row">
            <div class="col-lg-12">
              <div class="center-heading">
                <h1 ><b>Prepaid Plans</b></h1>
              </div>
            </div>
            <div class="offset-lg-3 col-lg-6">
              <div class="center-text">
                <h2><b>30 Days Plans</b></h2>
              </div>
            </div>
          </div>
          <!-- ***** Section Title End ***** -->
    
          <div class="row">
            <!-- ***** Pricing Item Start ***** -->
            <div class="col-lg-4 col-md-6">
              <div class="pricing-item">
                <div class="pricing-header">
                  <h3 class="pricing-title">BASIC PLAN</h3>
                </div>
                <div class="pricing-body">
                  <div class="price-wrapper">
                    <span class="currency">₹</span>
                    <span class="price">399</span>
                    <span class="period">/-</span>
                  </div>
                  <ul class="list">
                    <li class="active"><b>1.5 GB/Day</b></li>
                    <li class="active">Unlimited calls</li>
                    <li class="active">Unlimited Messages</li>
                   
                    <li class="active">Xstream Mobile pack</li>
                    <li>Amazon Prime Subscription</li>
                    <li>Disney+ Hotstar</li>
                  </ul>
                </div>
                <div class="pricing-footer">
                  <a href="/payment" class="btn-primary-line">Select Plan</a>
                </div>
              </div>
            </div>
            <!-- ***** Pricing Item End ***** -->
    
            <!-- ***** Pricing Item Start ***** -->
            <div class="col-lg-4 col-md-6">
              <div class="pricing-item active">
                <div class="pricing-header">
                  <h3 class="pricing-title">ADVANCED PLAN</h3>
                </div>
                <div class="pricing-body">
                  <div class="price-wrapper">
                    <span class="currency">₹</span>
                    <span class="price">499</span>
                    <span class="period">/-</span>
                  </div>
                  <ul class="list">
                    <li class="active"><b>2 GB/Day</b></li>
                    <li class="active">Unlimited calls</li>
                    <li class="active">Unlimited Messages</li>
                   
                    <li class="active">Xstream Mobile pack</li>
                    <li class="active">Amazon Prime Subscription</li>
                    <li>Disney+ Hotstar</li>
                  </ul>
                </div>
                <div class="pricing-footer">
                  <a href="/payment" class="btn-primary-line">Select Plan</a>
                </div>
              </div>
            </div>
            <!-- ***** Pricing Item End ***** -->
    
            <!-- ***** Pricing Item Start ***** -->
            <div class="col-lg-4 col-md-6">
              <div class="pricing-item">
                <div class="pricing-header">
                  <h3 class="pricing-title">EXPERT PLAN</h3>
                </div>
                <div class="pricing-body">
                  <div class="price-wrapper">
                    <span class="currency">₹</span>
                    <span class="price">599</span>
                    <span class="period">/-</span>
                  </div>
                  <ul class="list">
                    <li class="active"><b>3 GB/Day</b></li>
                    <li class="active">Unlimited calls</li>
                    <li class="active">Unlimited Messages</li>
                   
                    <li class="active">Xstream Mobile pack</li>
                    <li class="active">Amazon Prime Subscription</li>
                    <li class="active">Disney+ Hotstar</li>
                  </ul>
                </div>
                <div class="pricing-footer">
                  <a href="/payment" class="btn-primary-line">Select Plan</a>
                </div>
              </div>
            </div>
            <!-- ***** Pricing Item End ***** -->
          </div><br>
       
    
    
    
    
    
          <div class="center-text">
            <h2><b>60 Days Plans</b></h2>
          </div>
    
    
    
    
    
    <section>
    
      <div class="row">
         <!-- ***** Pricing Item Start ***** -->
         <div class="col-lg-4 col-md-6">
            <div class="pricing-item">
              <div class="pricing-header">
                <h3 class="pricing-title">BASIC PLAN</h3>
              </div>
              <div class="pricing-body">
                <div class="price-wrapper">
                  <span class="currency">₹</span>
                  <span class="price">599</span>
                  <span class="period">/-</span>
                </div>
                <ul class="list">
                  <li class="active"><b>1.5 GB/Day</b></li>
                  <li class="active">Unlimited calls</li>
                  <li class="active">Unlimited Messages</li>
                 
                  <li class="active">Xstream Mobile pack</li>
                  <li>Amazon Prime Subscription</li>
                  <li>Disney+ Hotstar</li>
                </ul>
              </div>
              <div class="pricing-footer">
                <a href="/payment" class="btn-primary-line">Select Plan</a>
              </div>
            </div>
          </div>
          <!-- ***** Pricing Item End ***** -->
    
          <!-- ***** Pricing Item Start ***** -->
          <div class="col-lg-4 col-md-6">
            <div class="pricing-item active">
              <div class="pricing-header">
                <h3 class="pricing-title">ADVANCED PLAN</h3>
              </div>
              <div class="pricing-body">
                <div class="price-wrapper">
                  <span class="currency">₹</span>
                  <span class="price">699</span>
                  <span class="period">/-</span>
                </div>
                <ul class="list">
                  <li class="active"><b>2 GB/Day</b></li>
                  <li class="active">Unlimited calls</li>
                  <li class="active">Unlimited Messages</li>
                 
                  <li class="active">Xstream Mobile pack</li>
                  <li class="active">Amazon Prime Subscription</li>
                  <li>Disney+ Hotstar</li>
                </ul>
              </div>
              <div class="pricing-footer">
                <a href="/payment" class="btn-primary-line">Select Plan</a>
              </div>
            </div>
          </div>
          <!-- ***** Pricing Item End ***** -->
    
          <!-- ***** Pricing Item Start ***** -->
          <div class="col-lg-4 col-md-6">
            <div class="pricing-item">
              <div class="pricing-header">
                <h3 class="pricing-title">EXPERT PLAN</h3>
              </div>
              <div class="pricing-body">
                <div class="price-wrapper">
                  <span class="currency">₹</span>
                  <span class="price">799</span>
                  <span class="period">/-</span>
                </div>
                <ul class="list">
                  <li class="active"><b>3 GB/Day</b></li>
                  <li class="active">Unlimited calls</li>
                  <li class="active">Unlimited Messages</li>
                 
                  <li class="active">Xstream Mobile pack</li>
                  <li class="active">Amazon Prime Subscription</li>
                  <li class="active">Disney+ Hotstar</li>
                </ul>
              </div>
              <div class="pricing-footer">
                <a href="/payment" class="btn-primary-line">Select Plan</a>
              </div>
            </div>
          </div>
          <!-- ***** Pricing Item End ***** -->
      </div>
    
    </section><br>
    
    
    
    
    
    
    <div class="center-text">
        <h2><b>90 Days Plans</b></h2>
      </div>
    
    
    
    
    
    
    <section>
    
        <div class="row">
          <!-- ***** Pricing Item Start ***** -->
          <div class="col-lg-4 col-md-6">
            <div class="pricing-item">
              <div class="pricing-header">
                <h3 class="pricing-title">BASIC PLAN</h3>
              </div>
              <div class="pricing-body">
                <div class="price-wrapper">
                  <span class="currency">₹</span>
                  <span class="price">799</span>
                  <span class="period">/-</span>
                </div>
                <ul class="list">
                  <li class="active"><b>1.5 GB/Day</b></li>
                  <li class="active">Unlimited calls</li>
                  <li class="active">Unlimited Messages</li>
                 
                  <li class="active">Xstream Mobile pack</li>
                  <li>Amazon Prime Subscription</li>
                  <li>Disney+ Hotstar</li>
                </ul>
              </div>
              <div class="pricing-footer">
                <a href="/payment" class="btn-primary-line">Select Plan</a>
              </div>
            </div>
          </div>
          <!-- ***** Pricing Item End ***** -->
    
          <!-- ***** Pricing Item Start ***** -->
          <div class="col-lg-4 col-md-6">
            <div class="pricing-item active">
              <div class="pricing-header">
                <h3 class="pricing-title">ADVANCED PLAN</h3>
              </div>
              <div class="pricing-body">
                <div class="price-wrapper">
                  <span class="currency">₹</span>
                  <span class="price">899</span>
                  <span class="period">/-</span>
                </div>
                <ul class="list">
                  <li class="active"><b>2 GB/Day</b></li>
                  <li class="active">Unlimited calls</li>
                  <li class="active">Unlimited Messages</li>
                 
                  <li class="active">Xstream Mobile pack</li>
                  <li class="active">Amazon Prime Subscription</li>
                  <li>Disney+ Hotstar</li>
                </ul>
              </div>
              <div class="pricing-footer">
                <a href="/payment" class="btn-primary-line">Select Plan</a>
              </div>
            </div>
          </div>
          <!-- ***** Pricing Item End ***** -->
    
          <!-- ***** Pricing Item Start ***** -->
          <div class="col-lg-4 col-md-6">
            <div class="pricing-item">
              <div class="pricing-header">
                <h3 class="pricing-title">EXPERT PLAN</h3>
              </div>
              <div class="pricing-body">
                <div class="price-wrapper">
                  <span class="currency">₹</span>
                  <span class="price">999</span>
                  <span class="period">/-</span>
                </div>
                <ul class="list">
                  <li class="active"><b>3 GB/Day</b></li>
                  <li class="active">Unlimited calls</li>
                  <li class="active">Unlimited Messages</li>
                 
                  <li class="active">Xstream Mobile pack</li>
                  <li class="active">Amazon Prime Subscription</li>
                  <li class="active">Disney+ Hotstar</li>
                </ul>
              </div>
              <div class="pricing-footer">
                <a href="/payment" class="btn-primary-line">Select Plan</a>
              </div>
            </div>
          </div>
          <!-- ***** Pricing Item End ***** -->
        </div>
     
      </section>
    
    
    
    
    
    
    
    
    
    
    
      <div class="center-text">
        <h2><b>1 Year Plans</b></h2>
      </div>
    
    
    
    
    
    
    <section>
    
        <div class="row">
           <!-- ***** Pricing Item Start ***** -->
           <div class="col-lg-4 col-md-6">
            <div class="pricing-item">
              <div class="pricing-header">
                <h3 class="pricing-title">BASIC PLAN</h3>
              </div>
              <div class="pricing-body">
                <div class="price-wrapper">
                  <span class="currency">₹</span>
                  <span class="price">2500</span>
                  <span class="period">/-</span>
                </div>
                <ul class="list">
                  <li class="active"><b>1.5 GB/Day</b></li>
                  <li class="active">Unlimited calls</li>
                  <li class="active">Unlimited Messages</li>
                 
                  <li class="active">Xstream Mobile pack</li>
                  <li>Amazon Prime Subscription</li>
                  <li>Disney+ Hotstar</li>
                </ul>
              </div>
              <div class="pricing-footer">
                <a href="/payment" class="btn-primary-line">Select Plan</a>
              </div>
            </div>
          </div>
          <!-- ***** Pricing Item End ***** -->
    
          <!-- ***** Pricing Item Start ***** -->
          <div class="col-lg-4 col-md-6">
            <div class="pricing-item active">
              <div class="pricing-header">
                <h3 class="pricing-title">ADVANCED PLAN</h3>
              </div>
              <div class="pricing-body">
                <div class="price-wrapper">
                  <span class="currency">₹</span>
                  <span class="price">3500</span>
                  <span class="period">/-</span>
                </div>
                <ul class="list">
                  <li class="active"><b>2 GB/Day</b></li>
                  <li class="active">Unlimited calls</li>
                  <li class="active">Unlimited Messages</li>
                 
                  <li class="active">Xstream Mobile pack</li>
                  <li class="active">Amazon Prime Subscription</li>
                  <li>Disney+ Hotstar</li>
                </ul>
              </div>
              <div class="pricing-footer">
                <a href="/payment" class="btn-primary-line">Select Plan</a>
              </div>
            </div>
          </div>
          <!-- ***** Pricing Item End ***** -->
    
          <!-- ***** Pricing Item Start ***** -->
          <div class="col-lg-4 col-md-6">
            <div class="pricing-item">
              <div class="pricing-header">
                <h3 class="pricing-title">EXPERT PLAN</h3>
              </div>
              <div class="pricing-body">
                <div class="price-wrapper">
                  <span class="currency">₹</span>
                  <span class="price">4500</span>
                  <span class="period">/-</span>
                </div>
                <ul class="list">
                  <li class="active"><b>3 GB/Day</b></li>
                  <li class="active">Unlimited calls</li>
                  <li class="active">Unlimited Messages</li>
                 
                  <li class="active">Xstream Mobile pack</li>
                  <li class="active">Amazon Prime Subscription</li>
                  <li class="active">Disney+ Hotstar</li>
                </ul>
              </div>
              <div class="pricing-footer">
                <a href="/payment" class="btn-primary-line">Select Plan</a>
              </div>
            </div>
          </div>
          <!-- ***** Pricing Item End ***** -->
        </div>
     
      </section>