@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');



*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width:100%;
   
}


img
{
    max-width: 120%;
    height: auto;
    transition: all 0.5s ease-in-out;
}

img:hover
{
    transform: scale(1.1,1.1);
}

.container
{
    padding: var(--cont-padding);
    height: 890px;
   
}

.row
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    size: 600px;
}

.section-heading
{
    font-size: 1.8rem;
    font-family: var(--heading-font);
    line-height: 2;
}

.para-line
{
    font-family: var(--para-font);
    font-size: 1.2rem;
    line-height: 1.5;
}

.btn
{
    padding: 10px 30px;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: var(--heading-font);
    border: none;
    border-radius: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-right: 1.5rem;
    cursor: pointer;
    transition: all 0.5s;
}

.btn:hover
{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    transform: scale(1.1,1.1);
}

.btn.dark
{
    color: white;
    background-color:black;
    padding:20px;
    width: 170px;
}

.btn.dark:hover
{
    color: black;
    background-color:white;
   
}

.btn.light
{
    color: white;
    background-color:black;
    padding:20px;
    width: 170px;
}

.btn.light:hover
{
    color: black;
    background-color:white;
}

.spacer
{
    margin: 2rem 0;
}

/*-------------- Header section ------------*/
.header
{
  
    background:url(D:\JAVA_DIGITAL\Java\Project\Angular\VoizFonica\src\assets\back.jfif) no-repeat;
    background-size: cover;
}

.header .container .row
{
    flex-direction: column-reverse;
}

.logo
{
    display: block;
}

.logo h4
{
    font-family: var(--heading-font);
    font-size: 1.2rem;
    text-align: center;
}

.main-heading
{
    font-family: var(--heading-font);
    font-size: 2.2rem;
    font-weight: 300;
    line-height: 1.2;
    margin-top: 3rem;
}

.main-heading span
{
    font-weight: 700;
}

.buttons
{
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.featured-img
{
    margin-top: 3.6rem;
}
/*-------------- Header section ------------*/


/*-------------- About section -------------*/
.about
{
    background-image: linear-gradient(to top, #65e5da, #fff0e5);
}

.about .container .row
{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
/*-------------- About section -------------*/








/*--------------- Desktop & Tablet version --------------*/
@media screen and (min-width: 768px)
{
    img
    {
        min-width: 100%;
        height: auto;
    }

    .container
    {
        max-width: 1180px;
        margin: 0 auto;
        padding: 4rem 0;
        /*height: 100vh;*/
    }

    /*------------- Header section ------------------*/
    .logo h4
    {
        text-align: left;
    }

    .header .container .row
    {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .header .container .row .col
    {
        width: 100%;
    }

    .main-heading
    {
        font-size: 4rem;
    }

    .buttons
    {
        justify-content: flex-start;
    }

    .featured-img
    {
        margin: 0;
        padding: 0;
    }
    /*------------- Header section ------------------*/

    /*------------- About section ---------------*/
    .about .container .row
    {
        flex-direction: row;
        gap: 2rem;
    }

    .about .container .row .col
    {
        width: 100%;
    }
    /*------------- About section ---------------*/


    /*------------- Colors section --------------*/
    .colors .container .row
    {
        flex-direction: row;
        gap: 2.5rem;
    }

    .spacer
    {
        margin: 1.5rem
    }
    /*------------- Colors section --------------*/


   







}