<app-header></app-header>
<body>
    <section class="section pt-5 pb-5" id="pricing-plans">
        <div class="top"></div>
        <div class="container">
          <!-- ***** Section Title Start ***** -->
          <div class="row">
            <div class="col-lg-12">
              <div class="center-heading">
                <h1 ><b>Dongle Plans</b></h1>
              </div>
            </div>
            <div class="offset-lg-3 col-lg-6">
              <div class="center-text">
                <h2><b>Monthly Rental</b></h2>
              </div>
            </div>
          </div>
          <!-- ***** Section Title End ***** -->
    
          <div class="row">
            <!-- ***** Pricing Item Start ***** -->
            <div class="col-lg-4 col-md-6">
              <div class="pricing-item active">
                <div class="pricing-header">
                    <h3 class="pricing-title">BASIC</h3>
                </div>
                <div class="pricing-body">
                  <div class="price-wrapper">
                    <span class="currency">₹</span>
                    <span class="price">499</span>
                    <span class="period">/-</span>
                  </div>
                  <ul class="list">
                    <li class="active" style="font-size:x-large"><b> Speed Upto 30Mbps</b></li>
                    <li class="active">Unlimited Internet</li>
                    <li class="active">Xstream Premium</li>
                    <li class="active">Wynk</li>
                    <li >Disney+ Hotstar</li>
                    <li >Netflix Basic</li>
                    <li>Amazon Prime Subscription</li>
                   
                  </ul>
                </div>
                <div class="pricing-footer">
                  <a href="/payment" class="btn-primary-line">Select Plan</a>
                </div>
              </div>
            </div>
            <!-- ***** Pricing Item End ***** -->
    
            <!-- ***** Pricing Item Start ***** -->
            <div class="col-lg-4 col-md-6">
              <div class="pricing-item active">
                <div class="pricing-header">
                    <h3 class="pricing-title">BASIC + TV</h3>
                </div>
                <div class="pricing-body">
                  <div class="price-wrapper">
                    <span class="currency">₹</span>
                    <span class="price">699</span>
                    <span class="period">/-</span>
                  </div>
                  <ul class="list">
                    <li class="active" style="font-size:x-large"><b>Speed Upto 60Mbps</b></li>
                    <li class="active">Unlimited Internet</li>
                    <li class="active">Xstream Premium</li>
                    <li class="active">Wynk</li>
                    <li class="active">Disney+ Hotstar</li>
                    <li>Netflix Basic</li>
                    <li>Amazon Prime Subscription</li>
                   
                  </ul>
                </div>
                <div class="pricing-footer">
                  <a href="/Payment" class="btn-primary-line">Select Plan</a>
                </div>
              </div>
            </div>
            <!-- ***** Pricing Item End ***** -->
    
            <!-- ***** Pricing Item Start ***** -->
            <div class="col-lg-4 col-md-6">
              <div class="pricing-item active">
                <div class="pricing-header">
                    <h3 class="pricing-title">Standard</h3>
                </div>
                <div class="pricing-body">
                  <div class="price-wrapper">
                    <span class="currency">₹</span>
                    <span class="price">799</span>
                    <span class="period">/-</span>
                  </div>
                  <ul class="list">
                    <li class="active" style="font-size:x-large"><b>Speed Upto 100Mbps</b></li>
                    <li class="active">Unlimited Internet</li>
                    <li class="active">Xstream Premium</li>
                    <li class="active">Wynk</li>
                    <li class="active">Netflix Premium</li>
                    <li class="active">Amazon Prime Subscription</li>
                    <li class="active">Disney+ Hotstar</li>
                  </ul>
                </div>
                <div class="pricing-footer">
                  <a href="/payment" class="btn-primary-line">Select Plan</a>
                </div>
              </div>
            </div>
            <!-- ***** Pricing Item End ***** -->
          </div><br>
       
    
    
    
    
    
         
    
    
    
    <section>
    
      <div class="row">
         <!-- ***** Pricing Item Start ***** -->
         <div class="col-lg-4 col-md-6">
            <div class="pricing-item active">
              <div class="pricing-header">
                <h3 class="pricing-title">Entertainment</h3>
              </div>
              <div class="pricing-body">
                <div class="price-wrapper">
                  <span class="currency">₹</span>
                  <span class="price">999</span>
                  <span class="period">/-</span>
                </div>
                <ul class="list">
                  <li class="active" style="font-size:x-large"><b>Speed Upto 200Mbps</b></li>
                  <li class="active">Unlimited Internet</li>
                  <li class="active">Xstream Premium</li>
                  <li class="active">Wynk Premium</li>
                  <li class="active">Netflix Premium</li>
                  <li class="active">Amazon Prime Subscription</li>
                  <li class="active">Disney+ Hotstar</li>
                </ul>
              </div>
              <div class="pricing-footer">
                <a href="/payment" class="btn-primary-line">Select Plan</a>
              </div>
            </div>
          </div>
          <!-- ***** Pricing Item End ***** -->
    
          <!-- ***** Pricing Item Start ***** -->
          <div class="col-lg-4 col-md-6">
            <div class="pricing-item active ">
              <div class="pricing-header">
                <h3 class="pricing-title">Professional</h3>
              </div>
              <div class="pricing-body">
                <div class="price-wrapper">
                  <span class="currency">₹</span>
                  <span class="price">1599</span>
                  <span class="period">/-</span>
                </div>
                <ul class="list">
                  <li class="active" style="font-size:x-large"><b>Speed Upto 300Mbps</b></li>
                  <li class="active">Unlimited Internet</li>
                  <li class="active">Xstream Premium</li>
                  <li class="active">Wynk Premium</li>
                  <li class="active">Netflix Premium</li>
                  <li class="active">Amazon Prime Subscription</li>
                  <li class="active">Disney+ Hotstar</li>
                </ul>
              </div>
              <div class="pricing-footer">
                <a href="/payment" class="btn-primary-line">Select Plan</a>
              </div>
            </div>
          </div>
          <!-- ***** Pricing Item End ***** -->
    
          <!-- ***** Pricing Item Start ***** -->
          <div class="col-lg-4 col-md-6">
            <div class="pricing-item active">
              <div class="pricing-header">
                <h3 class="pricing-title">Infinity</h3>
              </div>
              <div class="pricing-body">
                <div class="price-wrapper">
                  <span class="currency">₹</span>
                  <span class="price">3999</span>
                  <span class="period">/-</span>
                </div>
                <ul class="list">
                  <li class="active" style="font-size:x-large"><b>Speed Upto 1Gbps</b></li>
                  <li class="active">Unlimited Internet</li>
                  <li class="active">Xstream Premium</li>
                  <li class="active">Wynk Premium</li>
                  <li class="active">Netflix Premium</li>
                  <li class="active">Amazon Prime Subscription</li>
                  <li class="active">Disney+ Hotstar</li>
                </ul>
              </div>
              <div class="pricing-footer">
                <a href="/payment" class="btn-primary-line">Select Plan</a>
              </div>
            </div>
          </div>
          <!-- ***** Pricing Item End ***** -->
      </div>
    
    </section><br>