<app-header></app-header>
<body>
    <section class="section pt-5 pb-5" id="pricing-plans">
        <div class="top"></div>
        <div class="container">
          <!-- ***** Section Title Start ***** -->
          <div class="row">
            <div class="col-lg-12">
              <div class="center-heading">
                <h1 ><b>Postpaid Plans</b></h1>
              </div>
            </div>
            <div class="offset-lg-3 col-lg-6">
              <div class="center-text">
                <h2><b>Monthly Rental</b></h2>
              </div>
            </div>
          </div>
          <!-- ***** Section Title End ***** -->
    
          <div class="row">
            <!-- ***** Pricing Item Start ***** -->
            <div class="col-lg-4 col-md-6">
              <div class="pricing-item active">
                <div class="pricing-header">
                 
                </div>
                <div class="pricing-body">
                  <div class="price-wrapper">
                    <span class="currency">₹</span>
                    <span class="price">399</span>
                    <span class="period">/-</span>
                  </div>
                  <ul class="list">
                    <li class="active" style="font-size:x-large"><b>40 GB Data</b></li>
                    <li class="active">Unlimited calls</li>
                    <li class="active">Unlimited Messages</li>
                   
                    <li class="active">Xstream Mobile pack</li>
                    <li>Amazon Prime Subscription</li>
                    <li>Disney+ Hotstar</li>
                  </ul>
                </div>
                <div class="pricing-footer">
                  <a href="payment" class="btn-primary-line">Select Plan</a>
                </div>
              </div>
            </div>
            <!-- ***** Pricing Item End ***** -->
    
            <!-- ***** Pricing Item Start ***** -->
            <div class="col-lg-4 col-md-6">
              <div class="pricing-item active">
                <div class="pricing-header">
                 
                </div>
                <div class="pricing-body">
                  <div class="price-wrapper">
                    <span class="currency">₹</span>
                    <span class="price">499</span>
                    <span class="period">/-</span>
                  </div>
                  <ul class="list">
                    <li class="active" style="font-size:x-large"><b>75 GB Data</b></li>
                    <li class="active">Unlimited calls</li>
                    <li class="active">Unlimited Messages</li>
                   
                    <li class="active">Xstream Mobile pack</li>
                    <li>Amazon Prime Subscription</li>
                    <li>Disney+ Hotstar</li>
                  </ul>
                </div>
                <div class="pricing-footer">
                  <a href="/payment" class="btn-primary-line">Select Plan</a>
                </div>
              </div>
            </div>
            <!-- ***** Pricing Item End ***** -->
    
            <!-- ***** Pricing Item Start ***** -->
            <div class="col-lg-4 col-md-6">
              <div class="pricing-item active">
                <div class="pricing-header">
                 
                </div>
                <div class="pricing-body">
                  <div class="price-wrapper">
                    <span class="currency">₹</span>
                    <span class="price">999</span>
                    <span class="period">/-</span>
                  </div>
                  <ul class="list">
                    <li class="active" style="font-size:x-large"><b>100 GB Data</b></li>
                    <li class="active">Unlimited calls</li>
                    <li class="active">Unlimited Messages</li>
                   
                    <li class="active">Xstream Mobile pack</li>
                    <li class="active">Amazon Prime Subscription</li>
                    <li>Disney+ Hotstar</li>
                  </ul>
                </div>
                <div class="pricing-footer">
                  <a href="/payment" class="btn-primary-line">Select Plan</a>
                </div>
              </div>
            </div>
            <!-- ***** Pricing Item End ***** -->
          </div><br>
       
    
    
    
    
    
         
    
    
    
    <section>
    
      <div class="row">
         <!-- ***** Pricing Item Start ***** -->
         <div class="col-lg-4 col-md-6">
            <div class="pricing-item active">
              <div class="pricing-header">
               
              </div>
              <div class="pricing-body">
                <div class="price-wrapper">
                  <span class="currency">₹</span>
                  <span class="price">1199</span>
                  <span class="period">/-</span>
                </div>
                <ul class="list">
                  <li class="active" style="font-size:x-large"><b>150 GB Data</b></li>
                  <li class="active">Unlimited calls</li>
                  <li class="active">Unlimited Messages</li>
                 
                  <li class="active">Xstream Mobile pack</li>
                  <li class="active">Amazon Prime Subscription</li>
                  <li class="active">Disney+ Hotstar</li>
                </ul>
              </div>
              <div class="pricing-footer">
                <a href="/payment" class="btn-primary-line">Select Plan</a>
              </div>
            </div>
          </div>
          <!-- ***** Pricing Item End ***** -->
    
          <!-- ***** Pricing Item Start ***** -->
          <div class="col-lg-4 col-md-6">
            <div class="pricing-item active ">
              <div class="pricing-header">
               
              </div>
              <div class="pricing-body">
                <div class="price-wrapper">
                  <span class="currency">₹</span>
                  <span class="price">1499</span>
                  <span class="period">/-</span>
                </div>
                <ul class="list">
                  <li class="active" style="font-size:x-large"><b>250 GB Data</b></li>
                  <li class="active">Unlimited calls</li>
                  <li class="active">Unlimited Messages</li>
                 
                  <li class="active">Xstream Mobile pack</li>
                  <li class="active">Amazon Prime Subscription</li>
                  <li class="active">Disney+ Hotstar</li>
                </ul>
              </div>
              <div class="pricing-footer">
                <a href="/payment" class="btn-primary-line">Select Plan</a>
              </div>
            </div>
          </div>
          <!-- ***** Pricing Item End ***** -->
    
          <!-- ***** Pricing Item Start ***** -->
          <div class="col-lg-4 col-md-6">
            <div class="pricing-item active">
              <div class="pricing-header">
             
              </div>
              <div class="pricing-body">
                <div class="price-wrapper">
                  <span class="currency">₹</span>
                  <span class="price">1999</span>
                  <span class="period">/-</span>
                </div>
                <ul class="list">
                  <li class="active" style="font-size:x-large"><b>300 GB Data</b></li>
                  <li class="active">Unlimited calls</li>
                  <li class="active">Unlimited Messages</li>
                 
                  <li class="active">Xstream Mobile pack</li>
                  <li class="active">Amazon Prime Subscription</li>
                  <li class="active">Disney+ Hotstar</li>
                </ul>
              </div>
              <div class="pricing-footer">
                <a href="/payment" class="btn-primary-line">Select Plan</a>
              </div>
            </div>
          </div>
          <!-- ***** Pricing Item End ***** -->
      </div>
    
    </section><br>
    