<app-header></app-header>
<section>
  <img src="/assets/actimg12.jfif"  class="mu">
</section>
<body>
  <section class="register-block">
  <link rel="stylesheet" href="aboutus.component.css">

    <div class="wrapper">
      <div class="t1">
   
        <h1 style="font-size:90px; font-family: Arial, Helvetica, sans-serif ;"><b>About Us</b></h1>
   
        </div>
   
     
   
        <div class="v1">
   
        <p style="font-size:20px">VoizFonica is one of India's leading telecom and network service providers.<br>
   
          VoizFonica,established in the year 2010, has recorded substantial growth in terms
   
          of profit and market share (current market share in India is 8.9%,where in 2017 was 5.6% and in 2016 was 3.9%).<br> But the market share of the company is not
   
          matching the overall Tele-density growth ratio in India,due to the limitations in the legacy system of the company.<br>
   
          VoizFonica major ratio of profit in 2018 are  consumed by marketing activities,
   
           where most of them are manual in nature.<br>
   
           So company has decided to opt marketing activities where there is less human intervention.</p><br><br><br><br>
   
          </div>
   
        <div class="team">
   
          <div class="team_member">
   
            <div class="team_img">
   
              <img src="/assets/pre.jfif" alt="Team_image">
   
            </div>
   
            <h3 style="font-size:40px;">Prepaid</h3><br>
   
            <p style="font-size:19px;">A prepaid connection is one that you pay for before you use your phone's services,Postpaid customer’s recharge amount per month is fixed. Evenif the customer is not using call/data they need to pay the fixed amount. So company can expect it as a asured income.</p>
   
          </div>
   
          <div class="team_member">
   
            <div class="team_img">
   
              <img src="/assets/post.jpg" alt="Team_image">
   
            </div>
   
            <h3 style="font-size:40px;">Postpaid</h3><br>
   
            <p style="font-size:19px;">As the name itself suggests, a Prepaid plan is a mobile network plan where you pay the money upfront and then enjoy the benefits of the plan. Here, you can recharge for any amount, for any duration and enjoy the plans thereon..</p></div>
   
          <div class="team_member">
   
            <div class="team_img">
   
              <img src="/assets/dongle.png" alt="Team_image">
   
            </div>
   
            <h3 style="font-size:40px;">Dongle</h3><br>
   
            <p style="font-size:19px;">A dongle is simply an adapter that plugs into an open slot/port on your computer. The adapter itself has one or more ports of its own built into it, allowing you to plug more devices into your computer at the same time. Yes, a dongle is something like an extension cord for your computer.</p>
   
          </div>
   
        </div>
   
      </div><br>


      <header>
       <br>
        <h1>VoizFonica Timeline</h1>
    </header>
   
    <ul class="timeline">
      <!-- Item 1 -->
      <li>
        <div class="direction-r">
          <div class="flag-wrapper">
            <span class="hexa"></span>
            <span class="flag">Inflection Point</span>
            <span class="time-wrapper"><span class="time">2010</span></span>
          </div>
          <div class="desc" style="font-size: 16px;">VoizFonica established in the year 2010 and recorded substantial growth in terms of profit and market share</div>
        </div>
      </li>
   
      <!-- Item 2 -->
      <li>
        <div class="direction-l">
          <div class="flag-wrapper">
            <span class="hexa"></span>
            <span class="flag">Expansion.</span>
            <span class="time-wrapper"><span class="time">2016</span></span>
          </div>
          <div class="desc" style="font-size: 16px;">Market share in India is 3.9%.</div>
        </div>
      </li>
   
      <!-- Item 3 -->
      <li>
        <div class="direction-r">
          <div class="flag-wrapper">
            <span class="hexa"></span>
            <span class="flag">Doubling Down</span>
            <span class="time-wrapper"><span class="time">2017</span></span>
          </div>
          <div class="desc" style="font-size: 16px;">Market share in India is 5.6%.</div>
        </div>
      </li>
   


    <!-- Item 4 -->
    <li>
      <div class="direction-l">
        <div class="flag-wrapper">
          <span class="hexa"></span>
          <span class="flag">Substantial growth</span>
          <span class="time-wrapper"><span class="time">2022</span></span>
        </div>
      <div class="desc" style="font-size: 16px;">Market share in India is 8.9%.</div>
    </div>

 
  